<div class="w3-row-padding w3-padding-16 w3-center container-descobrir" id="food">
<% @lista_receitas.each do |receita| %>
    <%= link_to image_tag(receita.image.url(:medium), class: 'img-receitas-home'), receita_path(receita) %> <br>
    <h3><%= link_to receita.title.titleize, receita_path(receita) %></h3>
    <div id="avatar-container">
    	<%= link_to image_tag(receita.usuario.avatar.url(:small), class: 'avatar-usuario'), view_usuario_path(user_id: receita.usuario.id) %>
    	<span> <%= link_to receita.usuario.name.titleize, view_usuario_path(user_id: receita.usuario.id) %> </span>
    </div>
<% end %>
</div>