<div class="w3-row-padding w3-padding-16 w3-center minhas-receitas" id="food">
        <% @receitas.each do |receita| %>
          <div style="display:block;">
            <%= image_tag receita.image.url(:medium), class: 'img-receitas-home' %>
            <h3><%= link_to receita.title.titleize, receita_path(receita) %></h3> <br>
          </div>
      <% end %>     
</div>