<div id="flash-messages" class='flash-messages'>
  <% flash_messages.each do |message_name, message_data| %>
    <% if flash[message_name].present? %>
      <div class="notification flash <%= message_data[:box_class] %>">
        <div class="notification-content">
          <div class="icon">
            <i class="atsicon <%= message_data[:icon] %>"></i>
          </div>

          <div class="content">
            <div class="message">
              <%= flash[message_name].html_safe %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>