<!-- Top menu -->
<div id='navbar' class="w3-top">
  	<% if local_assigns[:logged_user] %>
    	<div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    	<div class="w3-right w3-padding-16">Receitas</div>   
    <% else %>
    	<div class="logo w3-left w3-padding-16">Receitas</div>
    	<div class="login w3-right w3-padding-16"><%= render partial: '/sessions/form_login'  %></div>
    <% end %>
</div>
